body {
  background-image: url('background.jpg');
  font-family: 'Oswald', sans-serif;
}

* {box-sizing: border-box;}


.plantForm {
  display: none;
}

input[type="file" i] {
  opacity : 0;
  font-size: 20px;
  width : 10px;
}


input {
  border-radius: 5px;
  font-size: 20px;
  background: rgba(118, 214, 174, 0.9);
  border: 1px solid #0d1b19;
  color: rgb(236, 216, 216);
}

button, #configLabel {
  border-radius: 5px;
  font-size: 20px;
  background: rgba(2, 129, 76, 0.9);
  cursor:pointer;
  border: 1px solid #0d1b19;
  color: rgb(236, 216, 216);
  width: fit-content;
  height: 20px;
}

select {
  border-radius: 5px;
  font-size: 20px;
  background: rgba(2, 129, 76, 0.9);
  border: 1px solid #0d1b19;
  color: rgb(236, 216, 216);
}

.menu-box {
  position: absolute;
  border-radius: 5px;
  border: 1px solid #0d1b19;
  background-color: rgba(21, 48, 41, 0.9);
  box-shadow: 10px 10px 8px #0d1b19;
  text-align: left;
  bottom: 1%;
  padding: 2%;
  color: rgb(236, 216, 216);
  font-size: 20px;
  width: fit-content;
}

.content-box {
  border-radius: 5px;
  border: 1px solid #0d1b19;
  background-color: rgba(21, 48, 41, 0.9);
  box-shadow: 10px 10px 8px #0d1b19;
  text-align: left;
  margin-left: auto; 
  margin-right: auto;
  padding: 2%;
  color: rgb(236, 216, 216);
  font-size: 20px;
  width: fit-content;
}

