body {
  background-image: url('../img/background.jpg');
  font-family: 'Oswald', sans-serif;
}

* {
  box-sizing: border-box;
  border-radius: 5px;
}

#current-span {
  position: fixed; 
  padding-left: 3em;
}

#guest-pic {
  display:none; 
  padding-top: 10px; 
  position: fixed;
}

#profile-pic {
  position: fixed; 
  border-radius: 50%; 
  border: 1px solid #0d1b19; 
  width: 2.5em;
}

#signin-div {
  width: 15em;
}

#user-div {
  width: 15em; 
  height: 3em;
}

.top-right {
  right: 10px; 
  top: 10px; 
  position: absolute;
}

.bottom-right {
  right: 10px; 
  bottom: 10px; 
  position: absolute;
}

.bottom-left {
  left: 10px; 
  bottom: 10px; 
  position: absolute;
}

.font {
  font-size: 20px;
  color: rgb(236, 216, 216);
}

input[type="file" i] {
  opacity : 0;
  font-size: 20px;
  width : 2px;
}

input {
  font-size: 20px;
  background: rgba(118, 214, 174, 0.9);
  border: 1px solid #0d1b19;
  color: rgb(236, 216, 216);
}

button {
  font-size: 20px;
  background: rgba(2, 129, 76, 0.9);
  cursor:pointer;
  border: 1px solid #0d1b19;
  color: rgb(236, 216, 216);
  width: fit-content;
}

select {
  font-size: 20px;
  background: rgba(2, 129, 76, 0.9);
  border: 1px solid #0d1b19;
  color: rgb(236, 216, 216);
}

.floating-box {
  display: none; 
  position: absolute; 
  padding-top: 2em; 
  top: 20px;
}

.menu-box {
  position: absolute;
  border: 1px solid #0d1b19;
  background-color: rgba(21, 48, 41, 0.9);
  box-shadow: 10px 10px 8px #0d1b19;
  text-align: left;
  bottom: 1%;
  padding: 2%;
  color: rgb(236, 216, 216);
  font-size: 20px;
  width: fit-content;
}

.content-box {
  display: none;
  border: 1px solid #0d1b19;
  background-color: rgba(21, 48, 41, 0.9);
  box-shadow: 10px 10px 8px #0d1b19;
  text-align: left;
  margin-left: auto; 
  margin-right: auto;
  padding: 2%;
  color: rgb(236, 216, 216);
  font-size: 20px;
  width: fit-content;
  position: relative;
}

